.board {
  display: flex;
  flex-wrap: wrap;
}

.validation-errors-display {
  margin-bottom: 2em;
  text-align: center;
}

.validation-errors-display__list {
  list-style-type: none;
  padding: 0;
}
